/packages/
!packages/repositories.config
*.vs/
*.ncrunchproject
*.ncrunchsolution
*.ncrunchsolution.user
_NCrunch_*/
*.suo
**/obj/
**/bin/
**/*.user
/Web/app/node_modules
/Web/wwwroot/dist
/Web/Properties/PublishProfiles
/Web/Views/Generated
/Web/appsettings.Development.json