@model Web.Models.PageModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Is it payday?</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="Is it payday?" />
    <meta name="keywords" content="pay day payday" />
    <meta name="description" content="Find out if today is payday" />
    <meta http-equiv="imagetoolbar" content="no" />
    <link rel="image_src" href="/images/money.jpg" />
    @await Html.PartialAsync("~/Views/Generated/Script.cshtml")
    @await Html.PartialAsync("~/Views/Generated/Style.cshtml")
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
</head>
<body>

    @RenderBody()

</body>
</html>

<!-- version: @Model.Version -->
