@model Web.Models.IndexPageModel
@{
    Layout = "~/Views/Layouts/Page.cshtml";
}

<div id="app">

    <h1>Is it payday?</h1>
    <p class="status" v-show="initialized"><span v-text="message"></span></p>

    <settings
        v-bind:frequency="frequency"
        v-bind:payday="payday"
        v-bind:country="country"
        v-bind:timezone="timezone"
        v-bind:countries="countries"
        v-bind:timezones="timezones">
    </settings>

    <p class="footer" v-text="formattedLocalTime"></p>

</div>