@model Web.Models.PageModel
@{
    Layout = "~/Views/Layouts/Page.cshtml";
}

<div id="app">

    <h1>Is it payday?</h1>
    <p class="status" v-show="isReady"><span v-text="message"></span></p>

    <settings />

    <p class="footer" v-text="formattedLocalTime"></p>

</div>
