@model Web.Models.IndexPageModel
@{
    Layout = "~/Views/Layouts/Page.cshtml";
}
<h1>Is it payday?</h1>
<p class="status"><span>@Model.PayDayString</span></p>

@Html.Partial("SettingsForm", Model.SettingsFormModel)

<p class="footer">
	@Model.LocalTime
</p>